.customloginbtn {
    padding: 2px 60px;
    background-color: #00568D !important;
    color: white;
    font-family: Poppins, sans-serif;
    border-radius: 8px;
    opacity: 1;
    align-self: center;
}

.customloginbtn.hover {
    background-color: #003366;
}


